<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chaerin.s4.member.MemberDAO">

	<insert id="addFile" parameterType="MemberFileDTO">
		INSERT INTO MEMBERFILE (FILENUM, ID, FILENAME, ORINAME)
		VALUES (FILE_SEQ.NEXTVAL, #{id}, #{fileName}, #{oriName})
	</insert>

	<select id="login" parameterType="MemberDTO"
		resultType="MemberDTO">
		SELECT ID, NAME FROM MEMBER
		WHERE ID=#{id} AND PW=#{pw}
	</select>

	<insert id="join" parameterType="MemberDTO">
		INSERT INTO MEMBER (ID, PW, NAME, PHONE, EMAIL)
		VALUES (#{id}, #{pw},#{name},#{phone},#{email})
	</insert>

	<!-- <select id="mypage" parameterType="MemberDTO"
		resultType="mypageResult">
		SELECT ID, M.NAME, M.PHONE, M.EMAIL, MF.FILENUM, MF.FILENAME, MF.ORINAME
		FROM
			MEMBER M
				LEFT JOIN
			MEMBERFILE MF
			USING(ID)
		WHERE ID=#{id}
	</select>
	
	<resultMap type="MemberDTO" id="mypageResult">
		<id column="id" property="id"/> PK
		<result column="name" property="name"/> PK를 제외한 나머지
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<association property="memberFileDTO" javaType="com.chaerin.s4.member.MemberFileDTO">1:1일때 이걸 써줌
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association> 
		<collection property=""></collection> 1: N일때 이걸 써줌
	</resultMap> -->

</mapper>